$red: #903;
$black: #444;
$white: #fff;
$grey: #888;
$main-font: 32px/1 Helvetica, Arial, sans-serif;

h1 {
    color: $red;
    font: $main-font
}

.border {
  border: 5px double $red;
  padding: 35px 5px 0px 15px;
}

span.error, select.error {
    color: $red;
    font-style:italic;
}

input, select, textarea {
    box-shadow: 5px 5px 5px $grey;
    margin: 5px 5px 5px 5px; 
    //width : 230px
}

input.error select.error, textarea.error {
    box-shadow: 5px 5px 5px $red;
    margin: 25px 50px 75px 100px; 
}

header h1 {
    font-size: 40px;
    line-height: 80px;
    background: transparent url(/images/logo.png) 0 0 no-repeat;
    padding-left: 84px;
}

@mixin tabs ($background: blue, $color: yellow) {
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
      background: $background;
      overflow: hidden;
  }
  li {
    float: left;
  }
  a {
   text-decoration: none;
   display: block;
   padding: 8px;
   background: $background;
   color: $color;
   &:hover {
   background: darken($background, 20%);
  }
 }
}
nav {
   @include tabs ($background: $black, $color: $white);
   font-weight: bold;
}
p {
   font: 13px/1.4 $main-font;
}

.content {
  width: 80%;
  content: 80%; 
  margin: 0 auto
}

span {
  vertical-align: top;
  margin: 5px 5px 5px 5px;
}

.newbook {
display: inline-block;
  width: 100px;
}

.center {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.test {
    //text-align: center;
    border:2px solid red;
    //width: 100%
}

.table-cell {
  display : table-cell;
  padding: 0px 10px 0px 10px;
  border:1px solid $grey;
  empty-cells: show;
}

.even {
  background-color: $grey;
}